
@font-face {
    font-family: 'Kalam';
    src: url(fonts/Kalam-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --soft-gray: #f8f8f8;
}

body {
    height: 100vh;
    display: grid;
    overflow: hidden;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 0.5fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

/* Header */

header {
    grid-area: header;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    font-family: Kalam;
    font-size: 1.5rem;
    background-color: var(--soft-gray);
}

.sun, .cloud {
    height: 35px;
    width: 35px;
    cursor: pointer;
    transition: 2.5s ease;
    animation-play-state: running;
}

.sun {
    animation: spin 10s linear infinite;
}

.cloud {
    animation: up-down 3s ease-in-out infinite;
}

.sun:hover, .cloud:hover {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}


/* Sidebar */

#sidebar {
    grid-area: sidebar;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: var(--soft-gray);
    height: 100%;
}

.section-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-header button {
    background: url(icons/add.svg) center no-repeat;
    height: 20px;
    width: 20px;
    padding: 0.8em 1em;
    background-color: #8bdadb;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.1);
    transition: 0.3s ease;
    border: none;
    cursor: pointer;
}

.section-header button:hover, #submit-task:hover, #submit-project:hover {
    background-color: #a1e4e4;
    box-shadow: 0px 2px 15px #a1e4e480;
    transform: translateY(-2px);
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Kalam;
    height: 100%; 
}

nav h3 {
    font-size: 1.3rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

img {
    transition: 0.3s ease;
}

li a:hover img {
    transform: rotate(180deg);
}

li + li {
    margin-top: 20px;
}

li a {
    text-decoration: none;
    color: black;
}

li a:visited {
    color: black;
}

.to-do-list-menu ul li a {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    font-size: 1.05rem;
}

/* Modals */

#add-task-modal, #add-project-modal {
    width: 600px;
    height: min-content;
    border-radius: 8px;
    border: none;
}

.modal-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal-top h3 {
    margin: 5px auto;
    font-size: 1.5rem;
}

#add-task-form, #add-project-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Kalam;
}

#add-task-form label, #add-project-form label {
    font-size: 1.1rem;
}

#submit-task, #submit-project {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #8bdadb;
}

input, select {
    border-radius: 5px;
    border: 2px solid #8bdadb;
    padding: 5px;
    outline: none;
    margin-bottom: 20px;
}

.close-modal {
    cursor: pointer;
    transition: 0.3s ease;
}

.close-modal:hover {
    transform: scale(1.1);
}

/* Main */

#main {
    grid-area: main;
    background-image: url(images/main-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-auto-rows: 350px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    border-top-left-radius: 5px;
    filter: saturate(1.6);
    height: 100%;
    overflow-y: auto;
}

.card {
    background-color: var(--soft-gray);
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    font-family: Kalam;
    height: 100%;
}

.card-header {
    background-color: #b0d4d4;
    border-radius: 10px 10px 0 0;
}

.card-header > *, .card-body > * {
    margin-left: 10px;
    margin-right: 10px;
}

.card-project {
    margin-bottom: 10px;
    font-weight: 500;
    word-break: normal;
    overflow-wrap: anywhere;
}

.card-title, .card-desc {
    margin-inline: 10px;
    margin-top: 5px;
    word-break: normal;
    overflow-wrap: anywhere;
}
.card-desc-header{
    margin-block: 10px;
    font-size: 1rem;
    font-weight: 700;
}

/* Card footer */

.card-footer hr {
    height: 1px;
    background-color: #ccc;
    width: 95%;
}

.card-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.date-and-priority {
    display: flex;
    margin-block: 10px;
    justify-content: space-around;
}

/* Buttons */

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.delete-btn, .complete-btn, .edit-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    padding-block: 15px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.02);
    transition: 0.3s ease;
}

.delete-btn:hover, .complete-btn:hover, .edit-btn:hover {
    filter: brightness(103%);
}

.delete-btn {
    border-bottom-left-radius: 10px;
    background-color: #b0d4d4;
}

.complete-btn {
    background-color: #bfd8b4;
}

.edit-btn {
    border-bottom-right-radius: 10px;
    background-color: #fbe3aa;
}

.delete-btn::before, .edit-btn::before, .complete-btn::before {
    display: block;
    content: ""; 
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.delete-btn::before {
    background-image: url('icons/delete.svg');
}

.complete-btn::before {
    background-image: url('icons/complete.svg');
}

.edit-btn::before {
    background-image: url('icons/edit.svg');
}

/* Projects */

select:disabled {
    cursor: not-allowed;
}

#projects {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100%;
    padding-right: 1rem;
}

#project-list li {
    padding-right: 3px;
}

#project-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    transition: text-decoration 0.3s; 
    position: relative;
}

#project-list li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.delete-project {
    position: absolute;
    left: calc(100% + 3px);
    bottom: 1px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

#project-list li:hover .delete-project {
    opacity: 1;
    pointer-events: auto;
    animation: flyShake 2s ease-in-out infinite;
}

@keyframes flyShake {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    40% {
      transform: translateY(-3px) rotate(0deg);
    }
    45% {
      transform: translateY(-3px) rotate(20deg);
    }
    50% {
      transform: translateY(-3px) rotate(-20deg);
    }
    55% {
      transform: translateY(-3px) rotate(0deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
}

