
body {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 0.5fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

/* Header */

header {
    background-color: #f8f8f8;
    grid-area: header;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Sidebar */

#sidebar {
    background-color: #f8f8f8;
    grid-area: sidebar;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.section-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.section-header button {
    background: url(icons/add.svg) center no-repeat ;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav h3:first-of-type {
    margin-top: 14px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li + li {
    margin-top: 20px;
}

li a {
    text-decoration: none;
}

li a:visited {
    color: black;
}

/* Nav Icons */
ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Modals */

#add-task-modal {
    border: 1px solid black;
    width: 600px;
    height: min-content;
    border-radius: 8px;
}

.modal-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal-top h3 {
    margin: auto;
}

#add-task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#submit-task {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

input, select {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}


/* Main */

#main {
    grid-area: main;
    background-image: url(images/main-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    border-top-left-radius: 5px;
}
#card {
    background-color: #f8f8f8;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#card-header {
    background-color: #cadcdc;
    border-radius: 10px 10px 0 0;
}

#card-header > *, #card-body > * {
    margin-left: 10px;
    margin-right: 10px;
}

.card-project, .card-desc-header {
    margin-bottom: 10px;
    font-weight: 500;
}

.card-desc-header{
    margin-top: 10px;
}

.card-title, .card-desc {
    margin-inline: 10px;
    margin-top: 5px;
}

/* Card footer */

#card-footer hr {
    height: 1px;
    background-color: #ccc;
    width: 95%;
}

#card-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.date-and-priority {
    display: flex;
    margin-block: 10px;
    justify-content: space-around;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.delete-btn, .complete-btn, .edit-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    padding-block: 15px;
}

.delete-btn {
    border-bottom-left-radius: 10px;
    background-color: #cedede;
}

.complete-btn {
    background-color: #d5e0cf;
}

.edit-btn {
    border-bottom-right-radius: 10px;
    background-color: #f5eccd;
}

.delete-btn::before, .edit-btn::before, .complete-btn::before {
    display: block;
    content: ""; 
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.delete-btn::before {
    background-image: url('icons/delete.svg');
}

.complete-btn::before {
    background-image: url('icons/complete.svg');
}

.edit-btn::before {
    background-image: url('icons/edit.svg');
}